.App {
  text-align: center;
  background-image: url('../public/homePage.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom 25%;
}

.my-app {
  font-size: 4rem;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-style: italic;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.common {
  display: grid;
  grid-template-rows: 70px 1fr 25px;
  min-height: 100vh;
}

header,footer{
  background-color: white;
  display: grid;
  place-content: center;
  bottom: 0%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

Button {
  border: none;
  color: white;
  text-align: center;
  aspect-ratio: 1/1;
  width: 20%;
  /* height: 190px;
  width: 25%; */
  font-style: oblique;
  font-size: 80%;
  border-radius: 20%;
  margin: 3% 10% 3% 10%;
}

Button:hover {
  filter: brightness(1.2);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.p-menubar .p-menuitem-link {
  display: flex;
  align-items: center;
  gap: 8px;  /* 专  拽 拽住 */
  font-size: 1.2rem; /*  拽住  */
  color: #dda8a8;
  text-shadow: 0.5px 0.5px 2.5px rgba(0, 0, 0, 0.5);}

.custom-menu-item {
    display: flex;
    flex-direction: row-reverse; /* 驻 转 住专 */
    align-items: center;
    gap: 8px;
}

.p-menubar {
  border-radius: 10px; 
  padding: 8px 20px;
}

.p-menuitem-link {
  display: flex;
  align-items: center;
  padding: 20px;
  gap: 15px; /* 专  拽 拽住 */
  font-size: 1.2rem; /* 拽住 转专 专专 */
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s, 
  background-color 0.3s;
}

/*  注专 注专 注 拽砖专 */
.p-menuitem-link:hover {
  background-color: #a0bc9c; /* 爪注 专拽注 注专 */
  color: white;
  border-radius: 5px;
}

/*  拽 转 驻专 */
.p-menuitem-link span:first-child {
  font-size: 1.5rem; /*  转 拽 */
  color: #fde6a1; /* 爪注  */
  text-shadow: #282c34;
}

/*  砖拽 驻注 专 拽住 */
.custom-menu-item {
  display: flex;
  flex-direction: row-reverse; /* 驻 转 住专 拽住 拽 */
  align-items: center;
  gap: 6px; /* 爪专 专  */
}

/*  驻砖 住祝 转驻专 */
.p-menubar-end {
  display: flex;
  align-items: center;
  gap: 15px;
}

.p-inputtext {
  border-radius: 20px; /* 砖 驻砖 注 */
  padding: 8px;
  color: #bda5c3;
  border: 2px solid #dda8a8; 
}
.p-inputtext:focus{
  border-radius:#fde6a1;
}
.p-menubar-end .p-inputtext {
  width: 200px; 
}
.pi-bars{
  color: #bda5c3;
}
.p-inputtext::placeholder,footer {
  color: #bda5c3;
  font-style: italic;
  text-shadow: 0.5px 0.5px 2.5px rgba(0, 0, 0, 0.5);
}